<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Non-Trivial AngularJS Made Easy</h1>
        <p>
            Everything you need to kickstart AngularJS projects:
            a best-practice directory structure, an intelligent build system, and the best web design libraries around.
        </p>
        <div class="btn-group">
            <a href="https://github.com/doshprompt/ng-scaffolding#readme" class="btn btn-default">
                <i class="fa fa-book"></i>
                Read the Docs
            </a>
            <a href="https://github.com/doshprompt/ng-scaffolding" class="btn btn-success">
                <i class="fa fa-download"></i>
                Download
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h4>
              <i class="fa fa-thumbs-up"></i>
              Good to Go!
          </h4>
          <p>
              Kickstarts your project quickly, with everything you need, so you can 
              focus on what matters: your app.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>
                <i class="fa fa-magic"></i>
                Complete Build System
            </h4>
            <p>
                A smart, <a href="http://gulpjs.com">Gulp</a>-based build system designed to save you time and energy.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>
                <i class="fa fa-retweet"></i>
                Modularization
            </h4>
            <p>
                Supports a structure that maintains separation of concerns while ensuring maximum code reuse.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>
                <i class="fa fa-star"></i>
                AngularJS
            </h4>
            <p>
                JavaScript framework that augments browser-based, single-page applications with MVC functionality.
                <a href="http://angularjs.org">More &raquo;</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>
                <i class="fa fa-compress"></i>
                LESS CSS Pre-processor
            </h4>
            <p>
                The dynamic stylesheet language that extends CSS with efficiency.
                <a href="http://lesscss.org">More &raquo;</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4><i class="fa fa-twitter"></i>
                Twitter Bootstrap
            </h4>
            <p>
                Sleek, intuitive, and powerful front-end framework for faster and easierweb development.
                <a href="http://getbootstrap.com">More &raquo;</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>
                <i class="fa fa-flag"></i>
                Font Awesome
            </h4>
            <p>
                The iconic font designed for use with Twitter Bootstrap.
                <a href="http://fortawesome.github.com/Font-Awesome">More &raquo;</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>
                <i class="fa fa-spinner"></i>
                Angular Loading Bar
            </h4>
            <p>
                A nanoscopic progress bar that will automatically display the progress of your <code>$http</code> requests.
                <a href="http://chieffancypants.github.io/angular-loading-bar/">More &raquo;</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4>
                <i class="fa fa-check"></i>
                Full-Spectrum Testing
            </h4>
            <p>
                Run both <a href="https://docs.angularjs.org/guide/unit-testing">unit</a> and <a href="https://docs.angularjs.org/guide/e2e-testing">end-to-end</a> test suites with
                <a href="https://karma-runner.github.io/">Karma</a> and <a href="https://github.com/angular/protractor">Protractor</a> in headless mode using <a href="http://phantomjs.org/">PhantomJS</a>.
        </div>
    </div>
</div><!-- /container -->